openapi: 3.0.0
info:
  title: FetchMedia API - Commands
  description: This is the Commands endpoint for the FetchMedia API.
  version: v1
servers:
  - url: https://api.fetchmedia.io/v1
    description: Production server
paths:
  /commands:
    get:
      summary: List commands
      description: Retrieves a list of commands.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: A list of commands
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Command'
    post:
      summary: Create a command
      description: Creates a new command.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ffmpeg_command:
                  type: string
                  description: The ffmpeg command to execute. mutually exclusive with ffmpeg_commands.
                  example: "ffmpeg -i {{in_1}} -c:v copy -c:a copy {{out_1}}"
                ffmpeg_commands:
                  type: array
                  items:
                    type: string
                  description: Multiple ffmpeg commands to execute. mutually exclusive with ffmpeg_command.
                  example: [
                    "ffmpeg -y -i {{in_1}} -c:v libx264 -b:v 2M -maxrate 3M -bufsize 1M -pass 1 -an -f mp4 /dev/null",
                    "ffmpeg -i {{in_1}} -c:v libx264 -b:v 2M -maxrate 3M -bufsize 1M -pass 2 {{out_1}}"
                  ]
                input_files:
                  type: object
                  description: The input files to use for the command.
                  example: {
                    "in_1": "https://www3.cde.ca.gov/download/rod/big_buck_bunny.mp4"
                  }
                output_files:
                  type: object
                  description: The output files to use for the command.
                  example: {
                    "out_1": "output.mp4"
                  }
                webhook:
                  type: string
                  format: url
                  description: The webhook to send the command payload once the job is completed.
                  example: "https://example.com/webhook"
      responses:
        '201':
          description: Command created
          content:
            application/json:
              schema:
                type: object
                properties:
                  command_id:
                    type: string
                    format: uuid
                    description: The ID of the command.
                    example: "123e4567-e89b-12d3-a456-426614174000"
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
  /commands/{id}:
    get:
      summary: Get a command
      description: Retrieves a command by its ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            description: The ID of the command to retrieve.
            example: "123e4567-e89b-12d3-a456-426614174000"
      responses:
        '200':
          description: A command
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Command'
    delete:
      summary: Delete a command
      description: Deletes a command by its ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            description: The ID of the command to delete.
            example: "123e4567-e89b-12d3-a456-426614174000"
      responses:
        '204':
          description: Command deleted
components:
  schemas:
    Command:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the command.
          example: "123e4567-e89b-12d3-a456-426614174000"
        original_request:
          type: object
          description: The original request.
          example: {
            "input_files": {
              "in_1": "https://www3.cde.ca.gov/download/rod/big_buck_bunny.mp4"
            },
            "output_files": {
              "out_1": "output.mp4"
            },
            "ffmpeg_command": "ffmpeg -i {{in_1}} -c:v copy -c:a copy {{out_1}}"
          }
        output_files:
          type: object
          description: The output files.
          example: {
            "out_1": "output.mp4"
          }
        status:
          type: string
          description: The status of the command.
          example: "pending | running | success | failed"
        total_processing_seconds:
          type: number
          description: The total processing time in seconds.
          example: 123.45
        created_at:
          type: string
          format: date-time
          description: The creation time of the command.
          example: "2022-01-01T00:00:00Z"
        processing_errors:
          type: array
          items:
            type: string
          description: The processing errors.
          example:
            - |
                libswscale      6.  7.100 /  6.  7.100
                libswresample   4.  7.100 /  4.  7.100
                libpostproc    56.  6.100 / 56.  6.100
                Unrecognized option 'pass'.
                Error splitting the argument list: Option not found

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
    ApiKeyAuthQuery:
      type: apiKey
      in: query
      name: key
security:
  - ApiKeyAuth: []
  - ApiKeyAuthQuery: []

